{{define "layout"}}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thorsten - {{template "title" .}}</title>
    <link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons-1.13.1/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/assets/app/css/style.css">
    <link rel="icon" href="/assets/vendors/bootstrap-icons-1.13.1/calendar3-week.svg" type="image/svg+xml">
</head>

{{template "content" .}}

</html>
{{end}}